<div class="container">
  <div class="row">
    <div class="col">
      <h2>
        ログ編集
      </h2>
      <%= render 'logs/shared/error_messages', resource: @log %>
      <%= form_with model: @log,local:true do |f| %>
        <%= render 'logs/shared/form', f: f %>
      <% end %>
    </div>
  </div>
</div>